/* Buttons
*
-----------------------*/
.btn{
    border-radius: 3rem;

    &.not-allowed {
        cursor: not-allowed;
    }
}
.wpforms-submit{
    border-radius: 3rem !important;

    &.not-allowed {
        cursor: not-allowed;
    }
}
.btn-atmoss{
    background-color: $atmoss-green;
    border-color: $atmoss-green;
    color: white;
    @include transition(0.3s);

    &:hover, &:focus, &.focus, &:active, &.active{
        background-color: darken($atmoss-green, 15%);
        border-color: darken($atmoss-green, 15%);
        color: white;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.4));
    }
}
.wpforms-submit{
    background-color: $atmoss-green !important;
    border-color: $atmoss-green !important;
    color: white !important;
    @include transition(0.3s);

    &:hover, &:focus, &.focus, &:active, &.active{
        background-color: darken($atmoss-green, 15%) !important;
        border-color: darken($atmoss-green, 15%) !important;
        color: white !important;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.4));
    }
}
.btn-white-outline{
    background-color: rgba(255,255,255,0);
    border-color: white;
    color: white;
    @include transition(0.3s);
    &:hover, &:focus, &.focus, &:active, &.active{
        color: black;
        background-color: rgba(255,255,255,1);
    }
}
button.slick-arrow{
    background: $atmoss-green;
    color: white;
    border-radius: 100%;

    &:hover, &:focus{
        background: $atmoss-green;
        color: white;
    }
}